html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #666;
  color: #333;
  margin: 2rem;
  padding: 1em;
  vertical-align: middle;
}

img {
  max-width: 25em;
  width: 25em
}
p {
  text-align: left;
  max-width: 25em;
  padding: 1em;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 0.4em 0.75em 0.5em;
}
